body {
    background-image: url("http://thumbs2.ebaystatic.com/d/l225/m/m1VWr3D8TrmwZVlEPD_MryQ.jpg")
}

nav a {
    color: goldenrod;
    font-size: 20px;
}

#current-link {
    text-decoration: antiquewhite; 
}

.uppercase{
    text-transform: uppercase;
    front-size: 45px;
}

img {
    width: 150px;
    height: auto;
}

h1 {
    border: 2px solid bisque;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 450px;
}

#technology {
    background-image: url("http://www.thestar.com/content/dam/thestar/sports/worldcup/2014/06/15/world_cup_lionel_messi_lifts_argentina_past_bosnia/messi_goal.jpg.size.xxlarge.promo.jpg")
}

#technology 
img{
    width:750px;
    height:auto;
}
#technology
p {
    font-size: xx-large;
    color: aliceblue;
    font-style: oblique;
}
#technology {
    text-transform: uppercase;
}

#projects {
    background-image: url("http://wpmedia.o.canada.com/2014/06/530989368_32804497.jpg;")
}