body {
    background-color: activecaption;
}

nav a {
    color: blueviolet;
}

#current-link {
    text-decoration: antiquewhite; 
}

.uppercase{
    text-transform: uppercase;
    front-size: 45px;
}

img {
    width: 150px;
    height: auto;
}

h1 {
    border: 2px solid bisque;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 450px;
}